@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: white;
} 

@layer components {
  .btn-common {
    @apply flex justify-center gap-2 rounded-md px-[1.2rem] py-[0.4rem] text-[0.85rem] transition-all duration-300 ease-in-out disabled:cursor-not-allowed disabled:opacity-50 md:text-[1rem];
  }
  .btn-ghost {
    @apply border-2 border-transparent hover:border-slate-50 hover:bg-slate-50;
  }
  .btn-outlined {
    @apply border-2 border-slate-400 hover:bg-slate-50;
  }
  .btn-solid {
    @apply border-2 border-primary-300 bg-primary-300 text-white hover:border-primary-400 hover:bg-primary-400;
  }
  .text-basic {
    @apply text-[1rem] leading-[20px];
  }
}
